.color-select
    background: rgba(58, 64, 90, 0.5) !important

span.listFilter__span
    background: rgb(58, 64, 90)
    color: rgb(255, 255, 255)
    padding: 1rem
    font-size: 1.5rem
    width: 100%

ul
    display: flex
    flex-wrap: wrap
    gap: .5rem
    padding: 1rem .8rem
    li
        list-style-type: none
        cursor: pointer
        padding: .5rem
        font-size: 1.2rem
        border: 1px solid #000
        border-radius: 1rem

        &:hover
            background: rgba(58, 64, 90, 0.1) !important
