@import './src/styles/mixins.sass'
.color-select
    background: rgba(58, 64, 90, 0.5) !important

span.listFilter__span
    background: rgb(58, 64, 90)
    color: rgb(255, 255, 255)
    padding: 1rem
    font-size: 1.5rem
    width: 100%

ul
    @include flex-wrap
    gap: .5rem
    padding: 1rem .8rem

    li
        list-style-type: none
        cursor: pointer
        padding: .5rem
        font-size: 1.2rem
        border: 1px solid #000
        border-radius: 1rem

        &:hover
            background: rgba(58, 64, 90, 0.1) !important

@media (max-width: 768px)
    div.navBar__filter-box__reading-options, div.navBar__filter-box__geners
        span.listFilter__span
            height: 5rem
            text-align: center

    div.navBar__filter-box__reading-options
        span.listFilter__span
            min-width: 10rem
            border-right: .1rem solid #221a1a

    div.navBar__filter-box__geners
        ul
            border-left: .1rem solid rgb(58, 64, 90)

@media (min-width: 769px) 
    div.navBar__filter-box__reading-options, div.navBar__filter-box__geners
        span.listFilter__span
            height: auto
            text-align: start
