@import './src/styles/mixins.sass'

.navBar
    position: relative

    div.navBar__filters-input
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        // background: #000

        div.navBar__button-filter
            width: auto

    .navBar__filter-box
        position: absolute
        z-index: 2
        border-radius: .5rem
        background: rgb(255, 255, 255)
        border: 1px solid rgb(58, 64, 90)

        div.navBar__filter-box__reading-options, div.navBar__filter-box__geners
            @include flex-column

@media (max-width: 768px)
    .navBar
        div.navBar__filters-input
            min-width: 20vw
            gap: 1rem

        div.navBar__filter-box
            min-width: 20vw
            min-height: 20rem
            right: 0rem
            top: 5rem

@media (min-width: 769px) and (max-width: 1025px)
    .navBar
        div.navBar__filters-input
            max-width: 40vw
            gap: 1rem

        div.navBar__filter-box
            max-width: 40vw
            min-height: 20rem
            right: 0rem
            top: 5rem

@media (min-width: 1025px) and (max-width: 1400px)
    .navBar
        div.navBar__filters-input
            max-width: 28vw
            gap: 1rem

        div.navBar__filter-box
            max-width: 28vw
            min-height: 20rem
            right: 0rem
            top: 5rem

@media (min-width: 1400px)
    .navBar
        div.navBar__filters-input
            max-width: 30vw
            gap: 2rem

        div.navBar__filter-box
            max-width: 30vw
            min-height: 20rem
            right: 0rem
            top: 5rem
